# LAMMPS trajectory files
*.lammpstrj


# LAMMPS log files
*.log
log.*


# Data-related and custom file formats
data/
*.bonds
*.dat
*.msd
*.rdf
*.hist


# Build and binary directories
build/
bin/


# VSCode specific directories
.vscode


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# beamer
*.nav
*.pre
*.snm
*.vrb

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# listings
*.lol
