# LAMMPS trajectory files
*.lammpstrj


# LAMMPS log files
*.log
log.*


# Data-related and custom file formats
data/
*.bonds
*.dat
*.msd
*.rdf
*.hist


# Build and binary directories
build/
bin/


# VSCode specific directories
.vscode
